 * {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.content {
  margin-top: 400px;
  background-color:rgb(26, 26, 26) ;
  text-align: center;
}

.position {
  position: relative;
}

img {
  width: 200px;
  height: 125px  ;

  border: 2px solid rgb(255, 255, 255);
  margin-bottom: 10px;
}

.first {
  text-align: left;
  font-size: 12px;
  padding: 3px 6px;
  background-color: rgba(255, 255, 255, 0.784);
  border: 1px solid green;
  border-radius: 10px;
  width: 50px;
  position: absolute;
  top: 20px;
  right: 190px;
}

.last {
  text-align: left;
  font-size: 12px;
  padding: 3px 6px;
  background-color: rgba(255, 255, 255, 0.784);
  border: 1px solid green;
  border-radius: 10px;
  width: 50px;
  position: absolute;
  top: 50px;
  right: 190px;
}
